@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inconsolata:wght@500&family=Poppins:wght@200&display=swap");

html,
body {
  background-color: hsl(218, 23%, 16%) !important;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  position: relative;
  max-width: 30rem;
  min-height: 20rem;
  margin: auto;
  border-radius: 7%;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

#advicegenerator {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advice-number {
  margin: 0 auto;
  text-align: center;
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
}

.advicecontent {
  font-family: "Comfortaa", cursive;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 2rem 0.3rem;
  text-align: center;
  color: antiquewhite;
  margin: 0 auto;
  max-width: 90%;
  overflow: auto; /* Prevents overflowing */
}

.divider {
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -2.5rem;
}

.dice-icon {
  width: 80%;
  height: auto;
}

#advicegenerator:hover {
  background-color: hsl(150, 100%, 66%);
  box-shadow: 0 0 1.5rem hsl(150, 100%, 66%);
}

.footer {
  background-color: hsl(217, 19%, 24%);
  padding: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footer-content p {
  color: antiquewhite;
  margin: 0;
  flex: 1;
  text-align: center;
}

#social-icons {
  display: flex;
  gap: 10px;
}

a:link,
a:visited,
a:hover {
  color: hsl(150, 100%, 66%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 90%;
    min-height: auto;
  }
  .advicecontent {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
  #advicegenerator {
    width: 3rem;
    height: 3rem;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  #social-icons {
    justify-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    max-width: 80%;
  }
  .advicecontent {
    font-size: 1.125rem;
  }
}
